html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
	overflow: auto;
	font-family: "Microsoft Yahei";
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
/*网站总体样式*/
.all_total{
	width: 100%;
	height: 900px;
}
/*头部分开始*/
    .header{
    	background-image: url(../imgs/z.jpg);
    }
	/*导航栏开始*/

	    .header nav{
	    	width: 100%;
	    	height: 60px;
	    	background-color: lightgreen;
	    	position: fixed;
	    	top: 0;
	    	z-index: 99;
	    }
	    .header nav .nav{
	    	width: 1035px;
	    	height: 60px;
	    	margin: 0 auto;
	    }
	    .header nav .nav ul{
	    	height: 60px;
	    }
	    .header nav .nav ul li{
	    	display: inline-block;
	    	padding-left: 25px;
	        padding-right: 25px;
	        float: left;
	        line-height: 60px;
	    }
	    .header nav .nav ul li:nth-child(1){
	    	padding-left: 0;
	        padding-right: 0;
	    }
	/*头部下面*/
	    .header_bot{
	    	z-index: 60;
	    }
		.header .header_bottom{
			width: 1310px;
			height: 900px;
			margin: 0 auto;
			position: relative;
		}
		.header .header_bottom .headBot_left_img{
			position: absolute;
			bottom: 80px;
			left: 0;
			animation:leftImg 1s linear 0s both;
			z-index: 50;
		}
		@-webkit-keyframes leftImg{
			0%{
				left: 0px;
			}
			100%{
				left: 30px;
			}
		}
		.bottomRight_topimg{
			position: absolute;
			left: 730px;
			top: 35%;
			animation:Right_topimg 2s linear 0s both;
		}
		@-webkit-keyframes Right_topimg{
			0%{
				opacity:0;
			}
			100%{
				opacity: 1;
			}
		}
		.bottomRight_centerimg{
			position: absolute;
			top: 55%;
			left: 730px;
			animation:Right_centerimg 2s linear 0s infinite;
		}
		@-webkit-keyframes Right_centerimg{
			0%{
				opacity:0;
			}
			50%{
				opacity: 1;
			}
			100%{
				opacity:0;
			}
		}
    /*头部最下面开始*/
        .header_bot_bot{
        	width: 1440px;
            height: 441px;
            z-index: 10;
            position: absolute;
            top:455px;
            left: 170px;
        }
        .img_b1_04{
        	position: absolute;
        	bottom: 0;
        	right:180px;
        	animation:img_b1_04 1s linear 0s both;
        }
        @-webkit-keyframes img_b1_04{
        	0%{
        		bottom: 0;
        	}
        	100%{
        		bottom: 330px;
        	}
        }
/*微信选择开始*/
    .weixinChoose{
    	background-image: url(../imgs/b2_bg.jpg);
    }
    .weixinChoose_center{
    	width: 1310px;
    	height: 900px;
    	position: relative;
    	margin: 0 auto;
    	overflow: hidden;
    }
    .weixinChoose_center .b2_01{
    	position: absolute;
    	left: -220px;
    	bottom: -628px;
    	animation:b2_01 2s linear 0s both;
    }
    @-webkit-keyframes b2_01{
    	0%{
    		bottom: -628px;
    	}
    	100%{
    		bottom:-30px;
    	}
    }
    .weixinChoose_center .b2_03{
    	position: absolute;
    	left: 300px;
    	top: 0px;
    	animation:b2_03 2s linear 0s both;
    }
    @-webkit-keyframes b2_03{
    	0%{
    		top: 0;
    	}
    	100%{
    		top: 300px;
    	}
    }
    .weixinChoose_center .b2_04{
    	position: absolute;
    	left: 790px;
    	top: 0px;
    	animation:b2_04 2s linear 0s both;
    }
    @-webkit-keyframes b2_04{
    	0%{
    		top: 0;
    	}
    	100%{
    		top: 400px;
    	}
    }
    .weixinChoose_center .b2_05{
    	position: absolute;
    	left: 1000px;
    	top: 0px;
    	animation:b2_05 2s linear 0s both;
    }
    @-webkit-keyframes b2_05{
    	0%{
    		top: 0;
    	}
    	100%{
    		top: 420px;
    	}
    }
    .weixinChoose_word{
    	position: absolute;
    	left: 630px;
    	top: 360px;
    	color: white;
    }
    .weixinChoose_word .title{
    	font-size: 28px;
    }
    .weixinChoose_word .content{
    	font-size: 13px;
    }
/*营销手段*/
    .marketing_means{
        width: 100%;
        height: 950px;
        background-image: url(../imgs/b3_bg.jpg);
    }
    .marketing_means .marketing_centered{
        width: 1310px;
        height: 950px;
        margin: 0 auto;
        position: relative;
    }
    .marketing_centered .marketing_top p {
        font-size: 29px;
    }
    .marketing_centered .marketing_top{
        width: 430px;
        height: 90px;
        position: absolute;
        left: 50%;
        margin-left: -215px;
        top: 200px;
        color: rgb(102, 102, 102);
    }
    .marketing_centered .marketing_top p .changecolor{
        color: rgb(254,160,5);
    }
    .marketing_centered .marketing_top .small_word{
        font-size: 16px;
        color: rgb(188, 188, 191);
        position: relative;
        left: 30px;
        margin-top: 30px;
    }
    .marketing_means .marketing_centered .marketing_line{
        width: 970px;
        height: 1px;
        background: lightgray;
        position: absolute;
        left: 100px;
        top: 300px;
    }
    .marketing_means .marketing_centered .marketing_img{
        position: absolute;
        left: 450px;
        top: 350px;
        animation:marketing_img 4s linear 0s 1  forwards;
    }
    @-webkit-keyframes marketing_img{
        0%{
            transform:rotateZ(0deg) translateX(0px) translateY(0px);
        }
        50%{
            transform:rotateZ(-600deg) translateX(300px) translateY(300px);
        }
        100%{
            transform:rotateZ(0deg) translateX(0px) translateY(0px);
        }
    }
    .marketing_means .words{
        position: absolute;
        line-height: 25px;
        font-size: 11px;
        width: 300px;
    }
    .marketing_means .left_words1{
        left:0;
        top: 360px;
        text-align: right;
        animation:left_words1 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes left_words1{
        0%{
            left: 0;
        }
        100%{
            left: 200px;
        }
    }
    .marketing_means .left_words2{
        left: 0;
        top: 500px;
        text-align: right;
        animation:left_words2 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes left_words2{
        0%{
            left: 0;
        }
        100%{
            left: 140px;
        }
    }
    .marketing_means .left_words3{
        left: 0;
        top: 650px;
        text-align: right;
        animation:left_words3 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes left_words3{
        0%{
            left: 0;
        }
        100%{
            left: 200px;
        }
    }
    .marketing_means .right_words1{
        top: 360px;
        text-align: left;
        left: 1310px;
        animation:right_words1 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes right_words1{
        0%{
            left: 1310px;
        }
        100%{
            left: 780px;
        }
    }
    .marketing_means .right_words2{
        top: 500px;
        text-align: left;
        left: 1310px;
        animation:right_words2 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes right_words2{
        0%{
            left: 1310px;
        }
        100%{
            left: 830px;
        }
    }
    .marketing_means .right_words3{
        top: 650px;
        text-align: left;
        left: 1310px;
        animation:right_words3 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes right_words3{
        0%{
            left: 1310px;
        }
        100%{
            left: 780px;
        }
    }

/*服务优势*/
    .service{
        background-image: url(../imgs/b4_bg.jpg);
        position: relative;
    }
    .service_box{
        width: 1310px;
        height: 900px;
        margin: 0 auto;
        position: relative; 
        color: white;
    }
    .service_box h5{
        margin-bottom: 5px;
    }
    .service_box .service_words{
        font-size: 13px;
    }
    .service_box .service_words h5{
        font-size: 20px;
    }
    .service_box .service_words1{
        font-size: 32px;
        width: 200px;
        color: white;
        position: absolute;
        left: 200px;
        top: 600px;
        animation:service_words1 1s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes service_words1{
        0%{
            top: 800px;
        }
        100%{
            top: 200px;
        }
    }
    .service_box .service_words2{
        position: absolute;
        left: 200px;
        top: 920px;
        animation:service_words2 1s linear 0.1s 1 alternate forwards;
    }
    @-webkit-keyframes service_words2{
        0%{
            top: 920px;
        }
        100%{
            top: 300px;
        }
    }
    .service_box .service_words3{
        position: absolute;
        left: 200px;
        top: 1000px;
        animation:service_words3 1s linear 0.2s 1 alternate forwards;
    }
    @-webkit-keyframes service_words3{
        0%{
            top:1000px;
        }
        100%{
            top: 360px;
        }
    }
    .service_box .service_words4{
        position: absolute;
        left: 200px;
        top:1080px;
        animation:service_words4 1s linear 0.3s 1 alternate forwards;
    }
    @-webkit-keyframes service_words4{
        0%{
            top: 1080px;
        }
        100%{
            top: 420px;
        }
    }
    .service_box .service_words5{
        position: absolute;
        left: 200px;
        top: 1160px;
        animation:service_words5 1s linear 0.4s 1 alternate forwards;
    }
    @-webkit-keyframes service_words5{
        0%{
            top: 1160px;
        }
        100%{
            top: 480px;
        }
    }
    .service_box .service_words6{
        position: absolute;
        left: 200px;
        top: 1240px;
        animation:service_words6 1s linear 0.5s 1 alternate forwards;
    }
    @-webkit-keyframes service_words6{
        0%{
            top: 1240px;
        }
        100%{
            top: 540px;
        }
    }
    .service_box .service_words7{
        position: absolute;
        left: 200px;
        top: 1320px;
        animation:service_words7 1s linear 0.6s 1 alternate forwards;
    }
    @-webkit-keyframes service_words7{
        0%{
            top: 1320px;
        }
        100%{
            top: 600px;
        }
    }
    .service_box .sercice_img1{
        position: absolute;
        left: 900px;
        top: 200px;
        animation:sercice_img1 2s linear 0s 1 alternate forwards;
    }
    @-webkit-keyframes sercice_img1{
        0%{
            left: 900px;
        }
        100%{
            left: 650px;
        }
    }
    .service_box .sercice_img2{
        position: absolute;
        left: 900px;
        top: 200px;
        opacity: 0;
        animation:sercice_img2 1s linear 1s 1 alternate forwards;
    }
    @-webkit-keyframes sercice_img2{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
/*特色功能*/
     .feature{
        background-image: url(../imgs/b5_bg.jpg);
        position: relative;
    }
    .feature_center{
        width: 1310px;
        height: 900px;
        margin: 0 auto;
        position: relative; 
       
    }
    .feature_center .feature_topwords{
        width: 850px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 160px;
        margin-left: -425px;
        color: rgb(188,188,188);
        padding-bottom: 10px; 
    }
    .feature_center .feature_topwords .topwords_big{
        font-size: 32px;
        color: rgb(102,102,102); 
        padding-bottom: 10px;
    }
    .feature_center .feature_topwords .topwords_big span{
        color: rgb(254, 160, 5);
    }
    #featureImg{
        width: 870px;
        border: 1px solid red;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        position: absolute;
        left: 50%;
        top: 250px;
        margin-left: -435px;
        padding: 0 50px;
        padding-top:10px; 
    }
    #featureImg .tureImgli{
        float: left;
        width: 185px;
        height: 154px;
        display: block;
        position: relative;
        border: 1px solid green;
        margin: 10px 15px;
        border-radius: 5px;
    }
    #featureImg .tureImgli .liAImg{
        position: absolute;
        left: 50%;
        margin-left: -44px;
    }
    #featureImg .tureImgli .liAImgBusiness{
        position: relative;
        top: 88px;
        text-align: center;
        color: black;
        font-size: 20px;
    }
    #featureImg .tureImgli .liAImgWords{
        position: relative;
        top:90px;
        text-align: center;
        font-size: 0.8em;
        color: rgb(119, 119, 119);
    }
    #featureImg .tureImgli .liAImgWords2{
        position: relative;
        top:90px;
        text-align: center;
        font-size: 0.8em;
        color: rgb(119, 119, 119);
    }
    .feature_center ul li:nth-child(1){
        position: relative;
        top: 177px;
        animation:featureTop 1s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(1){
        position: relative;
        top: 177px;
        animation:featureTop 2s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(2){
        position: relative;
        top: 177px;
        animation:featureTop 2s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(3){
        position: relative;
        top: 177px;
        animation:featureTop 2s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(4){
        position: relative;
        top: 177px;
        animation:featureTop 2s linear 0s 1 alternate forwards;

    }
    @-webkit-keyframes featureTop{
        0%{
            top:177px;
        }
        100%{
            top: 0;
        }
    }
    .feature_center ul li:nth-child(5){
        position: relative;
        opacity: 0;
        animation:featureCenter 1s linear 1s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(6){
        position: relative;
        opacity: 0;
        animation:featureCenter 1s linear 1s 1 alternate forwards;

    }    .feature_center ul li:nth-child(7){
        position: relative;
        opacity: 0;
        animation:featureCenter 1s linear 1s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(8){
        position: relative;
        opacity: 0;
        animation:featureCenter 1s linear 1s 1 alternate forwards;

    }
    @-webkit-keyframes featureCenter{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .feature_center ul li:nth-child(9){
        position: relative;
        bottom: 177px;
        animation:featureBottom 2s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(10){
        position: relative;
        bottom: 177px;
        animation:featureBottom 2s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(11){
        position: relative;
        bottom: 177px;
        animation:featureBottom 2s linear 0s 1 alternate forwards;

    }
    .feature_center ul li:nth-child(12){
        position: relative;
        bottom: 177px;
        animation:featureBottom 2s linear 0s 1 alternate forwards;

    }
    @-webkit-keyframes featureBottom{
        0%{
            bottom: 177px;
        }
        100%{
            bottom: 0;
        }
    }
/*技术特点*/
    .technology{
        background-image: url(../imgs/b6_bg.jpg);
    }
    .technology_center{
        width: 1310px;
        height: 900px;
        margin: 0 auto;
        position: relative;
        color: white;
        overflow: hidden;
    }
    .technology_center .technology_words{
        position: absolute;
        left: 250px;
        top: 200px;
        opacity: 0;
        animation:technologyOpacity 1s linear 0s 1 alternate forwards;

    }
    @-webkit-keyframes technologyOpacity{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .technology_center .technology_words p:nth-child(1){
        font-size: 32px;
    }
    .technology_center .technology_img{
        width: 533px;
        height: 423px;
        position: absolute;
        left: 50%;
        top: 300px;
        opacity: 0;
        margin-left: -266px;
        background: url(../imgs/b6_img.png);  
        animation:technologyOpacity 1s linear 0s 1 alternate forwards;      
    }
    .technology_center .technology_img span{
        position: absolute;
    }
    .technology_center .technology_img span:nth-child(1){
        left: 144px;
        top: -5px;
    }
    .technology_center .technology_img span:nth-child(2){
        left: 377px;
        top: -5px;
    }
    .technology_center .technology_img span:nth-child(3){
        left: 520px;
        top: 139px;
    }
    .technology_center .technology_img span:nth-child(4){
        left: 470px;
        top: 322px;
    }
    .technology_center .technology_img span:nth-child(5){
        left: 262px;
        top: 403px;
    }
    .technology_center .technology_img span:nth-child(6){
        left: 51px;
        top: 322px;
    }
    .technology_center .technology_img span:nth-child(7){
        left: 3px;
        top: 141px;
    }
    .technology_center .technology_img .rain{
        width: 40px;
        height: 35px;
        position: absolute;
        left: 250px;
        top: 120px;
        overflow: hidden;
    }
    .technology_center .technology_img .rain .rain_up{
        width: 15px;
        height: 35px;
        float: left;
        opacity: 0;
        position: relative;
        background: url(../imgs/b6_arrow.png) 0px 0px;
        animation:technologyrainup 2s linear 3s infinite forwards;  
    }
    .technology_center .technology_img .rain .rain_down{
        width: 15px;
        height: 35px;
        float: right;
        opacity: 0;
        position: relative;
        background: url(../imgs/b6_arrow.png) -14px 0px;
        animation:technologyraindown 2s linear 3s infinite forwards; 
    }
    @-webkit-keyframes technologyrainup{
        0%{
            bottom: 0;
            opacity: 0;
        }
        1%{
            bottom: 0;
            opacity: 1;
        }
        99%{
            bottom: 40px;
            opacity: 1;
        }
        100%{
            bottom: 40px;
            opacity: 0;
        }
    }
    @-webkit-keyframes technologyraindown{
        0%{
            top: 0px;
            opacity: 0;
        }
        1%{
            top: 0px;
            opacity: 1;
        }
        99%{
            top: 40px;
            opacity: 1;
        }
        100%{
            top: 40px;
            opacity: 0;
        }
    }
    .technology_center .technology_head{
        position: absolute;
        right: 800px;
        top: 550px;
        animation:technology_center 3s ease-out 0s 1 forwards; 
    }
    @-webkit-keyframes technology_center{
        0%{
            right: 800px;
        }
        100%{
            right: 50px;
        }
    }
